{{!-- facebook --}}
<a href="#" target="_blank"  title="facebook" aria-label="facebook">
    {{>"icons/facebook"}}             
</a>

{{!-- twitter --}}
<a href="#" target="_blank"  title="twitter" aria-label="twitter">
    {{>"icons/twitter"}}
</a>

{{!-- telegram --}}
<a href="#" target="_blank"  title="telegram" aria-label="telegram">
    {{>"icons/telegram"}}             
</a>

{{!-- linkedin --}}
<a href="#" target="_blank"  title="linkedin" aria-label="linkedin">
    {{>"icons/linkedin"}}             
</a>

{{!-- vk --}}
<a href="#" target="_blank"  title="vk" aria-label="vk">
    {{>"icons/vk"}}             
</a>

{{!-- tiktok --}}
<a href="#" target="_blank"  title="tiktok" aria-label="tiktok">
    {{>"icons/tiktok"}}             
</a>

{{!-- whatsapp --}}
<a href="#" target="_blank"  title="whatsapp" aria-label="whatsapp">
    {{>"icons/whatsapp"}}             
</a>

{{!-- youtube --}}
{{!-- <a href="#" target="_blank"  title="youtube" aria-label="youtube">
    {{>"icons/youtube"}}             
</a> --}}

{{!-- pinterest --}}
{{!-- <a href="#" target="_blank"  title="pinterest" aria-label="pinterest">
    {{>"icons/pinterest"}}             
</a> --}}

{{!-- odnoklassniki --}}
{{!-- <a href="#" target="_blank" title="odnoklassniki" aria-label="odnoklassniki">
    {{>"icons/odnoklassniki"}}             
</a> --}}

{{!-- instagram --}}
{{!-- <a href="#" target="_blank"  title="instagram" aria-label="instagram">
    {{>"icons/instagram"}}             
</a> --}}

{{!-- behance --}}
{{!-- <a href="#" target="_blank"  title="behance" aria-label="behance">
    {{>"icons/behance"}}             
</a> --}}
