{{!< default}}

    <main class="site-content">
        <section class="error-page">
            <h1 class="error-page__code">{{statusCode}}</h1>
            <p class="error-page__description">{{t "There is no such page"}}</p>
            <p class="error-page__link"><a href="{{@site.url}}">{{t "To home page →"}}</a></p>
        </section>
    </main>